In [19]:
import pandas as pd
from pandas import json_normalize

In [162]:
df = pd.read_json('../Exam_HS20/gapminder.json')

In [163]:
df = df.reset_index()
df.head()

,index,Africa,Americas,Asia,Europe,Oceania
0,Algeria,"{'gdpPercap_1952': 2449.008185, 'gdpPercap_195...",NaN,NaN,NaN,NaN
1,Angola,"{'gdpPercap_1952': 3520.610273, 'gdpPercap_195...",NaN,NaN,NaN,NaN
2,Benin,"{'gdpPercap_1952': 1062.7522, 'gdpPercap_1957'...",NaN,NaN,NaN,NaN
3,Botswana,"{'gdpPercap_1952': 851.2411407, 'gdpPercap_195...",NaN,NaN,NaN,NaN
4,Burkina Faso,"{'gdpPercap_1952': 543.2552413, 'gdpPercap_195...",NaN,NaN,NaN,NaN

In [164]:
df = df.melt('index').dropna()

In [124]:
newdf = pd.DataFrame(columns=['continent','country','year','gdpPercap','lifeExp','pop'])
for index,row in df.iterrows():
    newrow = {}
    newrow['country'] = row['index']
    newrow['continent'] = row['variable']
    t = json_normalize(df.value[0]).melt()
    

    newdf = newdf.append(newrow, ignore_index=True)

newdf

    continent         country year gdpPercap lifeExp  pop
0      Africa         Algeria  NaN       NaN     NaN  NaN
1      Africa          Angola  NaN       NaN     NaN  NaN
2      Africa           Benin  NaN       NaN     NaN  NaN
3      Africa        Botswana  NaN       NaN     NaN  NaN
4      Africa    Burkina Faso  NaN       NaN     NaN  NaN
..        ...             ...  ...       ...     ...  ...
137    Europe     Switzerland  NaN       NaN     NaN  NaN
138    Europe          Turkey  NaN       NaN     NaN  NaN
139    Europe  United Kingdom  NaN       NaN     NaN  NaN
140   Oceania       Australia  NaN       NaN     NaN  NaN
141   Oceania     New Zealand  NaN       NaN     NaN  NaN

[142 rows x 6 columns]

In [142]:
x[['var','year']] = x.variable.str.split('_', expand=True)

In [144]:
x = x.drop(columns='variable')

In [152]:
pd.pivot_table(x, index='year', columns='var', values='value')

var     gdpPercap  lifeExp         pop
year
1952  2449.008185   43.077   9279525.0
1957  3013.976023   45.685  10270856.0
1962  2550.816880   48.303  11000948.0
1967  3246.991771   51.407  12760499.0
1972  4182.663766   54.518  14760787.0
1977  4910.416756   58.014  17152804.0
1982  5745.160213   61.368  20033753.0
1987  5681.358539   65.799  23254956.0
1992  5023.216647   67.744  26298373.0
1997  4797.295051   69.152  29072015.0
2002  5288.040382   70.994  31287142.0
2007  6223.367465   72.301  33333216.0

In [153]:
x

           value        var  year
0   2.449008e+03  gdpPercap  1952
1   3.013976e+03  gdpPercap  1957
2   2.550817e+03  gdpPercap  1962
3   3.246992e+03  gdpPercap  1967
4   4.182664e+03  gdpPercap  1972
5   4.910417e+03  gdpPercap  1977
6   5.745160e+03  gdpPercap  1982
7   5.681359e+03  gdpPercap  1987
8   5.023217e+03  gdpPercap  1992
9   4.797295e+03  gdpPercap  1997
10  5.288040e+03  gdpPercap  2002
11  6.223367e+03  gdpPercap  2007
12  4.307700e+01    lifeExp  1952
13  4.568500e+01    lifeExp  1957
14  4.830300e+01    lifeExp  1962
15  5.140700e+01    lifeExp  1967
16  5.451800e+01    lifeExp  1972
17  5.801400e+01    lifeExp  1977
18  6.136800e+01    lifeExp  1982
19  6.579900e+01    lifeExp  1987
20  6.774400e+01    lifeExp  1992
21  6.915200e+01    lifeExp  1997
22  7.099400e+01    lifeExp  2002
23  7.230100e+01    lifeExp  2007
24  9.279525e+06        pop  1952
25  1.027086e+07        pop  1957
26  1.100095e+07        pop  1962
27  1.276050e+07        pop  1967
28  1.476079e+07        pop  1972
29  1.715280e+07        pop  1977
30  2.003375e+07        pop  1982
31  2.325496e+07        pop  1987
32  2.629837e+07        pop  1992
33  2.907202e+07        pop  1997
34  3.128714e+07        pop  2002
35  3.333322e+07        pop  2007

In [10]:
def get_file_encoding(src_file_path):
    with open(src_file_path) as src_file:
        return src_file.encoding

csv_file_path = './Exam_HS20/DAW_Exam_Material/diabetes.xlsx'
print('Endcoding: ' + str(get_file_encoding(csv_file_path)))

Endcoding: UTF-8