In [1]:
import pandas as pd
from pandas import json_normalize

In [7]:
json = pd.read_json('gapminder.json')
json.reset_index(inplace=True)
json = json.rename(columns = {'index':'Country'})

In [9]:
json = json.melt(id_vars='Country')
json = json.dropna()

df = pd.DataFrame(columns=['continent','country','year','gdpPercap','lifeExp','pop'])
new_row = {}

for i,row in json.iterrows():
    new_row['continent'] = row.variable
    new_row['country'] = row.Country
    t = json_normalize(row.value).melt()
    t[['val','year']] = t.variable.str.split("_", expand=True)
    pt = pd.pivot_table(t, index='year',columns='val',values='value')
    for j,n in pt.iterrows():
        new_row['year'] = j
        new_row['gdpPercap'] = n.gdpPercap
        new_row['lifeExp'] = n.lifeExp
        new_row['pop'] = n['pop']
        df = df.append(new_row, ignore_index=True)

,Country,Africa,Americas,Asia,Europe,Oceania
0,Algeria,"{'gdpPercap_1952': 2449.008185, 'gdpPercap_195...",NaN,NaN,NaN,NaN
1,Angola,"{'gdpPercap_1952': 3520.610273, 'gdpPercap_195...",NaN,NaN,NaN,NaN
2,Benin,"{'gdpPercap_1952': 1062.7522, 'gdpPercap_1957'...",NaN,NaN,NaN,NaN
3,Botswana,"{'gdpPercap_1952': 851.2411407, 'gdpPercap_195...",NaN,NaN,NaN,NaN
4,Burkina Faso,"{'gdpPercap_1952': 543.2552413, 'gdpPercap_195...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
137,Switzerland,NaN,NaN,NaN,"{'gdpPercap_1952': 14734.23275, 'gdpPercap_195...",NaN
138,Turkey,NaN,NaN,NaN,"{'gdpPercap_1952': 1969.10098, 'gdpPercap_1957...",NaN
139,United Kingdom,NaN,NaN,NaN,"{'gdpPercap_1952': 9979.508487, 'gdpPercap_195...",NaN
140,Australia,NaN,NaN,NaN,NaN,"{'gdpPercap_1952': 10039.59564, 'gdpPercap_195..."
141,New Zealand,NaN,NaN,NaN,NaN,"{'gdpPercap_1952': 10556.57566, 'gdpPercap_195..."

## Alternativen

In [3]:
#json.value.apply(pd.Series)
json2 = pd.read_json('gapminder.json', typ='series')

In [4]:
json2

Africa      {'Algeria': {'gdpPercap_1952': 2449.008185, 'g...
Americas    {'Argentina': {'gdpPercap_1952': 5911.315053, ...
Asia        {'Afghanistan': {'gdpPercap_1952': 779.4453145...
Europe      {'Albania': {'gdpPercap_1952': 1601.056136, 'g...
Oceania     {'Australia': {'gdpPercap_1952': 10039.59564, ...
dtype: object