In [1]:
import pandas as pd
from pandas import json_normalize

In [6]:
json = pd.read_json('gapminder.json')
json.reset_index(inplace=True)
json = json.rename(columns = {'index':'Country'})

In [7]:
json = json.melt(id_vars='Country')
json = json.dropna()

df = pd.DataFrame(columns=['continent','country','year','gdpPercap','lifeExp','pop'])
new_row = {}

for i,row in json.iterrows():
    new_row['continent'] = row.variable
    new_row['country'] = row.Country
    t = json_normalize(row.value).melt()
    t[['val','year']] = t.variable.str.split("_", expand=True)
    pt = pd.pivot_table(t, index='year',columns='val',values='value')
    for j,n in pt.iterrows():
        new_row['year'] = j
        new_row['gdpPercap'] = n.gdpPercap
        new_row['lifeExp'] = n.lifeExp
        new_row['pop'] = n['pop']
        df = df.append(new_row, ignore_index=True)

df

     continent      country  year     gdpPercap  lifeExp         pop
0       Africa      Algeria  1952   2449.008185   43.077   9279525.0
1       Africa      Algeria  1957   3013.976023   45.685  10270856.0
2       Africa      Algeria  1962   2550.816880   48.303  11000948.0
3       Africa      Algeria  1967   3246.991771   51.407  12760499.0
4       Africa      Algeria  1972   4182.663766   54.518  14760787.0
...        ...          ...   ...           ...      ...         ...
1699   Oceania  New Zealand  1987  19007.191290   74.320   3317166.0
1700   Oceania  New Zealand  1992  18363.324940   76.330   3437674.0
1701   Oceania  New Zealand  1997  21050.413770   77.550   3676187.0
1702   Oceania  New Zealand  2002  23189.801350   79.110   3908037.0
1703   Oceania  New Zealand  2007  25185.009110   80.204   4115771.0

[1704 rows x 6 columns]

## Alternativen

In [3]:
#json.value.apply(pd.Series)
json2 = pd.read_json('gapminder.json', typ='series')

In [4]:
json2

Africa      {'Algeria': {'gdpPercap_1952': 2449.008185, 'g...
Americas    {'Argentina': {'gdpPercap_1952': 5911.315053, ...
Asia        {'Afghanistan': {'gdpPercap_1952': 779.4453145...
Europe      {'Albania': {'gdpPercap_1952': 1601.056136, 'g...
Oceania     {'Australia': {'gdpPercap_1952': 10039.59564, ...
dtype: object